# Python como una calculadora: Ejercicios
#### Modulo 1, Nivel 2.

En este notebook están los ejercicios para los temas del Modulo 1 - Nivel 2. Debajo de cada ejercicio hay una celda en donde se debe ingresar el código correspondiente para solucionar la operación solicitada. 

Nota: Recuerda que para ejecutar una celda debe usar las teclas Control + Enter

## 1. Division entera

A continuación encontrará los ejercicios de division entera:

##### Ejercicio 1.1

Realice la division entera entre 5 y 4

#### Rta// 1

In [ ]:
# Procedimiento ejercicio 1.1

##### Ejercicio 1.2

Realice la division entera entre 108 y 50

#### Rta// 2

In [8]:
# Procedimiento ejercicio 1.2

##### Ejercicio 1.3

Realice la division entera entre 560 y 4

#### Rta// 140

In [ ]:
# Procedimiento ejercicio 1.3

##### Ejercicio 1.4

Realice la division entera entre (1560 * 10) y 70

#### Rta// 222

In [15]:
# Procedimiento ejercicio 1.4

## 2. Potencias

A continuación encontrará los ejercicios de potencias:

##### Ejercicio 2.1

Realice la potencia entre 5 y 5

#### Rta// 3125

In [ ]:
# Procedimiento ejercicio 2.1

##### Ejercicio 2.2

Realice la potencia entre 10 y 5

#### Rta// 100000

In [ ]:
# Procedimiento ejercicio 2.2

##### Ejercicio 2.3

Realice la potencia entre 20 y 10

#### Rta// 10240000000000

In [ ]:
# Procedimiento ejercicio 2.3

##### Ejercicio 2.4

Realice la potencia entre (100 // 50) y 5

#### Rta// 32

In [ ]:
# Procedimiento ejercicio 2.4

## 3. Tipos de datos y variables

A continuación encontrará los ejercicios de tipos de datos y variables:

##### Ejercicio 3.1

+ Declare las variables saldo_pedro y saldo_juan que guarden atributos de tipo Int con valor 100 y 150 respectivamente. 
+ Declare las variables nombre1 y nombre2 que guarden atributos de tipo String con valor de "Pedro" y "Juan" respectivamente.
+ Realice la potencia del saldo_pedro y el de saldo_juan con 2: 
+ Realice la division entera de saldo_pedro y saldo_juan con 3. 
+ Imprima el nombre, el saldo de Juan y Pedro y el tipo de cada variable.



#### Rta//
Nombre1: Pedro Tipo: <class 'str'> Saldo: 3333 Tipo: <class 'int'>
Nombre2: Juan Tipo: <class 'str'> Saldo: 7500 Tipo: <class 'int'>

In [36]:
# Procedimiento ejercicio 3.1

##### Ejercicio 3.2

Juan quiere hacer la compra de un computador por internet. Se contactó con servicio al cliente para saber si el precio que está en la pagina incluye el IVA. Al comunicarse con la bodega esta fue la información que le dieron del articulo: 

+ Nombre: MacBook Air
+ Marca: Apple
+ Procesador: Intel core i5
+ Precio sin IVA: 2380.9
+ Garantia en años: 2

Debe responderle a Juan indicando las caracteristicas del equipo y el valor total al pagar por el equipo teniendo en cuenta que el IVA es el 19% y que el domicilio tiene un costo de 50. 
    
Cree una variable para modelar cada caracteristica del equipo. De igual forma, realice las operaciones correspondientes para indicarle a Juan el precio del equipo con IVA y con domicilio. 

Nota: Para hacer un salto de linea ingrese '\n'

#### Rta//

Buenas tarde Juan, estas son las indicaciones del equipo: 
 
 Nombre: MacBook Air 
 Marca: Apple 
 Procesador:  Intel core i5 
 Precio sin IVA:  2380.9 
 Garantia en años:  2 
 
 El precio final a pagar es de:  2883.271  
 
 Saludos

In [ ]:
# Procedimiento ejercicio 3.2

## 4. Tuplas

A continuación encontrará los ejercicios de tuplas:

##### Ejercicio 4.1

* Cree una tupla con los siguientes valores: 2,3,4,5,6,7

* Imprima los siguientes requerimientos: (Recuerde usar '\n' para saltar linea)

    + El valor en la primera posición.
    + El valor en la ultima posición.
    + Los valores desde la posición 0 hasta la 3.
    + Los valores desde la posición 3 hasta la 6.
    + Todos los valores de la tupla. 
    
    
#### Rta//

+ 2
+ 7
+ (2, 3, 4)
+ (5, 6, 7)
+ (2, 3, 4, 5, 6, 7)

In [ ]:
# Procedimiento ejercicio 4.1

## 5. Listas

A continuación encontrará los ejercicios de listas:

##### Ejercicio 5.1

* Cree una lista con los meses del año. 

* Imprima los siguientes requerimientos:

    + El primer y ultimo mes del año.
    + Los meses que componen el segundo trimestre del año. 
    + El mes de su cumpleaños. 
    + Todos los meses del año. 
    
    
#### Rta//

+ El primer mes es: Enero y el ultimo mes es: Diciembre
+ Los meses del segundo trimestre del año son: ['Abril', 'Mayo', 'Junio']
+ Mi cumpleaños es en:  Octubre
+ Los meses del año son:  ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']

In [ ]:
# Procedimiento ejercicio 5.1

##### Ejercicio 5.2

* Cree una lista llamada fecha con los valores: dia, mes, año

* Modifique cada valor de la lista ingresando los siguientes valores: 

    + Año: 1912
    + Mes: Junio
    + Dia: 23
    
* Imprima la lista para verificar las modificaciones y el nombre de la persona que nacío en esta fecha.

#### Rta//

Alan Turing nacío el:  ['23', 'Junio', '1912']

In [ ]:
# Procedimiento ejercicio 5.2

##### Ejercicio 5.3

En una empresa se guardan las ventas anuales en una lista. El director de cartera le pide que le envíe la información de ventas del año pasado, sin embargo al revisar los datos éstas están separadas por semestre. Estos son los datos:

+ sem1_2018 = [ 150, 520, 480, 190, 230, 340]
+ sem2_2018 = [ 210, 180, 340, 290, 80, 310] 

A partir de esta información haga lo siguiente:

    * Cree una nueva lista y concatene los datos de sem1_2018 y sem2_2018.
    * Indique el valor del mes con menores ventas. 
    * Indique el valor del mes con mayores ventas. 
    * Verifique que la lista anual tenga todos los datos hallando el tamaño de la lista. 
    
#### Rta//

+ Las ventas de cada mes del 2018 fueron:  [150, 520, 480, 190, 230, 340, 210, 180, 340, 290, 80, 310]
+ El mes con peores ventas fue: 80
+ El mes con mejores ventas fue: 520
+ 12

In [ ]:
# Procedimiento ejercicio 5.3

##### Ejercicio 5.4

Las calificaciones finales obtenidas en el curso de cálculo fueran las siguientes:

cal = [ 3.4 , 2.1 , 1.2 , 4.8 , 2.6 , 2.8 , 2.5 , 2.1 , 3.4 , 1.5 , 4.2 , 3.6 , 2.6 , 2.3 , 3.4 , 4.8 , 3.4 ]

A partir de esta lista se quiere obtener la siguiente información: 

+ La mayor nota del curso.
+ La menor nota.
+ Cantidad de estudiantes del curso. 

Por otro lado, se quiere aplicar los siguientes cambios a la lista: 

+ Organizar la lista de la peor a la mejor calificación.
+ Insertar el 5.0 obtenido por Juan en el supletorio.
+ Revisar cuantos estudiantes tuvieron como definitiva 3.4. 

#### Rta//

La lista de notas descargadas del sistema es:  

[3.4, 2.1, 1.2, 4.8, 2.6, 2.8, 2.5, 2.1, 3.4, 1.5, 4.2, 3.6, 2.6, 2.3, 3.4, 4.8, 3.4] 

+ La mayor nota del curso fue:  4.8
+ La menor nota del curso fue:  1.2
+ La cantidad de estudiantes en el curso es:  17 

La lista de notas ordenadas es:  

[1.2, 1.5, 2.1, 2.1, 2.3, 2.5, 2.6, 2.6, 2.8, 3.4, 3.4, 3.4, 3.4, 3.6, 4.2, 4.8, 4.8] 

La lista de notas con el supletorio de Juan es:  

[1.2, 1.5, 2.1, 2.1, 2.3, 2.5, 2.6, 2.6, 2.8, 3.4, 3.4, 3.4, 3.4, 3.6, 4.2, 4.8, 4.8, 5.0]

 La cantidad de estudiantes que obtuvieron por definitiva 3.4 son:  4

In [ ]:
# Procedimiento ejercicio 5.4

##### Ejercicio 5.5

A continuación se puede ver la lista de nombres más comunes en America Latina:

nombres = [ Camilo, Juan, Pedro, Esteban, Laura, Daniela, Ana, Maria, Daniel, Sebastian, Andrea ]

Teniendo en cuenta la lista anterior: 

* Imprima la lista original.
* Elimine a Pedro de la lista.
* Elimine el ultimo elemento de la lista.
* Imprima la posicion de Camilo en la lista.
* Invierta el orden de la lista. 
* Copie los valores de la lista nombres y peguelos en una lista nueva e imprima dicha lista. 

#### Rta//

La lista original es:  
 * ['Camilo', 'Juan', 'Pedro', 'Esteban', 'Laura', 'Daniela', 'Ana', 'Maria', 'Daniel', 'Sebastian', 'Andrea'] 

Se elimina el nombre de Pedro de la lista 
 * ['Camilo', 'Juan', 'Esteban', 'Laura', 'Daniela', 'Ana', 'Maria', 'Daniel', 'Sebastian', 'Andrea'] 

Se elimina el ultimo elemento de la lista 
 * ['Camilo', 'Juan', 'Esteban', 'Laura', 'Daniela', 'Ana', 'Maria', 'Daniel', 'Sebastian'] 

Se busca cual es la posicion de Camilo en la lista 
 * 0 

Se invierte el orden de los valores de la lista 
 * ['Sebastian', 'Daniel', 'Maria', 'Ana', 'Daniela', 'Laura', 'Esteban', 'Juan', 'Camilo'] 

Se copian los valores de la lista en otra diferente 
 * ['Sebastian', 'Daniel', 'Maria', 'Ana', 'Daniela', 'Laura', 'Esteban', 'Juan', 'Camilo']

In [ ]:
# Procedimiento ejercicio 5.5